<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/mystyle.css">
<meta charset="8859">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ERROR_500</title>
</head>
<style>
    h1{
        color:#FF0000;
    }

    .responsive{
        width: 100%;
        height: auto;
    }
</style>
<body>

    <img src="/static/error500.jpg" class="responsive" width:1920px;height:1080px;>
<br><br>

<form action="home" method="post">
    <input type="submit" value="HOME" id="greet5">
</form>

</body>
</html>

