#greet5 {
    background-color: rgb(100, 100, 100);
    border:  none;
    height: 50px;
    width:  100%;
    color: white;
    border-radius: 5px;
}
body {
  background-color: lightblue;
}

h1 {
font-family: arial, sans-serif;
font-size: 48px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}
li {
font-family: arial, sans-serif;
font-size: 20px;
margin-top: 0px;
margin-bottom: 1px;
}
input, select {
  width: 99%;
  padding: 12px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #fefefe;
}

#nic th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}